body {
  color:black;
  background-color: grey;
  font-family: 'Optima', cursive;
  font-size: 150%;
  margin: 5em 15%;
  padding: 30px;
}

.subheader {
  font-size: 200%;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 15px double black;
}

.closing{
  font-size: 200%;
  color: red;
}